In [ ]:
import pandas as pd


- To forecast the consumption for each quarter of an hour over the next 24 hours (96 quarters).
- To forecast the consumption for each hour over the next four days (96 hours).
- To forecast the consumption for each day over the coming month (30 days).

# Historical Consumption
A selected time series of consumption data for over 200 buildings.

- obs_id - An arbitrary ID for the observationaa
- SiteId - An arbitrary ID number for the building, matches across datasets
- ForecastId - An ID for a timeseries that is part of a forecast (can be matched with the submission file)
- Timestamp - The time of the measurement
- Value - A measure of consumption for that building

# Building Metadata
Additional information about the included buildings.

- SiteId - An arbitrary ID number for the building, matches across datasets
- Surface - The surface area of the building
- BaseTemperature - The base temperature for the building
- [DAY_OF_WEEK]IsDayOff - True if DAY_OF_WEEK is not a work day

# Historical Weather Data
This dataset contains temperature data from several stations near each site. For each site several temperature measurements were retrieved from stations in a radius of 30 km if available.

Note: Not all sites will have available weather data.

Note: Weather data is available for test periods under the assumption that reasonably accurate forecasts will be available to algorithms that the time that we are attempting to make predictions about the future.

- SiteId - An arbitrary ID number for the building, matches across datasets
- Timestamp - The time of the measurement
- Temperature - The temperature as measured at the weather station
- Distance - The distance in km from the weather station to the building in km

# Public Holidays
Public holidays at the sites included in the dataset, which may be helpful for identifying days where consumption may be lower than expected.

Note: Not all sites will have available public holiday data.

- SiteId - An arbitrary ID number for the building, matches across datasets
- Date - The date of the holiday
- Holiday - The name of the holiday

In [7]:
train.head()

    obs_id  SiteId            Timestamp  ForecastId         Value
0   744519       1  2014-09-03 00:00:00           1  9.096555e+05
1  7627564       1  2014-09-04 00:00:00           1  1.748273e+06
2  7034705       1  2014-09-05 00:00:00           1           NaN
3  5995486       1  2014-09-06 00:00:00           1           NaN
4  7326510       1  2014-09-07 00:00:00           1           NaN

In [17]:
train = pd.read_csv('input/train.csv')
metadata = pd.read_csv('input/metadata.csv')
#weather = pd.read_csv('input/weather.csv')
#holidays = pd.read_csv('input/holidays.csv', nrows=10)
#subm_fmt = pd.read_csv('input/submission_format.csv', nrows=10)
#subm_freq = pd.read_csv('input/submission_frequency.csv', nrows=10)

In [18]:
train.head()

    obs_id  SiteId            Timestamp  ForecastId         Value
0   744519       1  2014-09-03 00:00:00           1  9.096555e+05
1  7627564       1  2014-09-04 00:00:00           1  1.748273e+06
2  7034705       1  2014-09-05 00:00:00           1           NaN
3  5995486       1  2014-09-06 00:00:00           1           NaN
4  7326510       1  2014-09-07 00:00:00           1           NaN

In [19]:
len(train)

6559830

In [14]:
metadata = pd.read_csv('input/metadata.csv')

In [15]:
len(metadata)

267

,SiteId,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,WednesdayIsDayOff,ThursdayIsDayOff,FridayIsDayOff,SaturdayIsDayOff,SundayIsDayOff
0,1,1387.205119,15.0,18.0,False,False,False,False,False,True,True
1,2,6098.278376,30.0,18.0,False,False,False,False,False,True,True
2,3,10556.293605,5.0,18.0,False,False,False,False,False,True,False
3,5,12541.181277,30.0,18.0,False,False,False,False,False,True,True
4,6,9150.195373,30.0,18.0,False,False,False,False,False,True,True
5,7,15168.125971,30.0,18.0,False,False,False,False,False,True,True
6,8,22221.851847,30.0,18.0,False,False,False,False,False,True,True
7,9,14588.849015,30.0,18.0,False,False,False,False,False,True,True
8,10,6393.671251,30.0,18.0,False,False,False,False,False,True,True
9,11,2517.739425,30.0,18.0,False,False,False,False,False,True,True
10,12,33676.246551,15.0,18.0,False,False,False,False,False,True,True
11,13,891.487850,15.0,18.0,False,False,False,False,False,True,True
12,14,702.101695,15.0,18.0,False,False,False,False,False,True,True
13,15,1416.796369,15.0,18.0,False,False,False,False,False,True,True
14,16,1218.738383,15.0,18.0,False,False,False,False,False,True,True
15,17,1625.837520,15.0,18.0,False,False,False,False,False,True,True
16,18,677.533195,15.0,18.0,False,False,False,False,False,True,True
17,19,613.820937,30.0,18.0,False,False,False,False,False,True,True
18,20,17449.241936,10.0,18.0,False,False,False,False,False,True,True
19,21,10985.292634,10.0,18.0,False,False,False,False,False,True,True
20,22,7392.365415,10.0,18.0,False,False,False,False,False,True,True
21,23,6649.452014,15.0,18.0,False,False,False,False,False,False,True
22,25,2201.924904,15.0,18.0,False,False,False,False,False,True,True
23,26,14.884534,15.0,18.0,False,False,False,False,False,True,True
24,27,17.321667,15.0,18.0,False,False,False,False,False,True,True
25,29,7406.128494,15.0,18.0,False,False,False,False,False,True,True
26,32,6225.945150,10.0,18.0,False,False,False,False,False,True,True
27,33,3280.584454,10.0,18.0,False,False,False,False,False,True,True
28,34,1868.542638,10.0,18.0,False,False,False,False,False,True,True
29,38,14612.245695,30.0,18.0,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...
237,274,1468.246690,5.0,18.0,False,False,False,False,False,True,True
238,275,2479.178923,5.0,18.0,False,False,False,False,False,True,True
239,276,621.276731,5.0,18.0,False,False,False,False,False,True,True
240,277,680.576657,5.0,18.0,False,False,False,False,False,True,True
241,278,3632.271583,5.0,18.0,False,False,False,False,False,True,True
242,279,1287.678025,5.0,18.0,False,False,False,False,False,True,True
243,280,407.170383,5.0,18.0,False,False,False,False,False,True,True
244,281,2171.888160,5.0,18.0,False,False,False,False,False,True,True
245,282,2632.494563,5.0,18.0,False,False,False,False,False,True,True
246,283,10363.823714,15.0,18.0,False,False,False,False,False,True,True
247,284,5703.070019,15.0,18.0,False,False,False,False,False,True,True
248,285,5996.254722,15.0,18.0,False,False,False,False,False,True,True
249,286,3580.148991,5.0,18.0,False,False,False,False,False,True,True
250,287,22495.507056,15.0,18.0,False,False,False,False,False,True,True
251,288,23165.969177,15.0,18.0,False,False,False,False,False,False,False
252,289,14578.774718,15.0,18.0,False,False,False,False,False,False,True
253,290,34549.564657,15.0,18.0,False,False,False,False,False,True,True
254,292,16748.180710,10.0,18.0,False,False,False,False,False,True,True
255,293,4253.565515,10.0,18.0,False,False,False,False,False,True,True
256,294,4737.008135,10.0,18.0,False,False,False,False,False,True,True
257,295,10814.258273,10.0,18.0,False,False,False,False,False,True,True
258,297,19608.574928,15.0,18.0,False,False,False,False,False,False,True
259,298,3142.369640,15.0,18.0,False,False,False,False,False,True,True
260,299,71.126413,15.0,18.0,False,False,False,False,False,True,True
261,300,3813.660202,15.0,18.0,False,False,False,False,False,True,True
262,301,21849.456801,15.0,18.0,False,False,False,False,False,True,True
263,302,21284.578622,15.0,18.0,False,False,False,False,False,True,True
264,303,17934.445927,15.0,18.0,False,False,False,False,False,True,True
265,304,1258.897887,15.0,18.0,False,False,False,False,False,True,True
266,305,1296.111786,15.0,18.0,False,False,False,False,False,True,True